html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}


.userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user {
  border: 1px solid gray;
  display: inline;
  width: 300px;
  padding: 10px;
  margin: 20px;
}
.user h2 {
  color: lightblue;
}
.job span {
  font-style: italic; 
  color: black;
}
.noJob span {
  font-style: italic; 
  color: red;
}
.user img {
  margin: 20px 65px;
  padding: auto;
}
.user a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}
.left {
  width: 300px;
  text-align: right;
  padding:10px;
}
.right {
  width: 600px;
  text-align: left;
  padding: 10px;
}
.image img {
  border-radius: 50%;
  border: 1px solid gray;
}
.left p {
  font-style: bold;
  font-size: 1.1em;
  font-family: sans-serif;
}